.sectionTitle {
    position: fixed;
    left: 160px;

    width: 100%;
    height: 80px;
    background-color: var(--black-100);
  
    display: flex;
    flex-direction: column;
    justify-items: center;
  
    margin: 0;
    padding: 15px 0 15px 25px;
  }

  .sectionTitle div{
    display: flex;
    flex-direction: row; 
  
  }

  .sectionTitle h5{
    font-style: italic;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black-600);
    margin-bottom: 10px;
  }

  
  .sectionTitle a{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--black-600);
    margin-right: 25px;
  }

  .sectionTitle a:hover{
    text-decoration: underline;
    color: var(--blue-600);
  }
