.saldo{
    
    width: 500px;
    margin-left: 30px;

}

.saldo table{
    width: 100%;
}

.linhaDetalhe td{
    padding: 10px 0 10px 0;
}

.borderLine{
    border-bottom: solid 1.5px var(--black-100);
}

.saldo h6{
font-size: medium;


}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.red{
    color: var(--red-600);
    text-align: right;
}

.saldo h5{

font-size: medium;
font-weight: 700;
color: var(--black-300);

}

.saldo h4{
text-align: right;
font-weight: 700;
color: var(--black-600);    
}


.btn_detalhes{
    width: 150px;
    height: 35px;
  
    border-radius: 25px;
    border: none;
  
    background-color: var(--white);
  
    color: var(--blue-500);
    text-transform: uppercase;
    transition: 1s all;
  }
  
  .btn_detalhes:hover{  
    color: var(--orange);  
    cursor: pointer;
  }
  
