.menu{
    display: flex;    
    justify-content: space-around;
    width: 96%;
    height: auto;
    background-image: linear-gradient( to right, var(--blue-600), var(--purple-600));
    padding: 2%;
    margin: 2%;
    color: white;
    margin: center;
    text-align: center;
    margin-top: 14%;
}



.DivInternas {
    
  
}

.paragrafo1 {
font-size: 4em;
}
