.sidebar {
    width: 230px;
    height: 100vh;    
    background-color: var(--powder-950);
   
    border-right: solid 2px var(--blue-500);
}

.usuario{
    
    height: 20vh;
    display: flex;
    align-items: center;

}

.sidebar li{
    display: flex;
    color: var(--black-100);
    margin: 15px 20px ;
    font-size: 1rem;
}

.dash {
color: var(--blue-300);
}

.sidebar img{    
    
    width: 50px;
    height: 50px;

}

.icon{
    position: fixed;
    left: 165px;
}

.menubar1 {
    color: var(--black-100);   
    display: flex;
    margin: 6px 8px ;
    font-size: 1.5vh;
}

.menubar2 {
    color: var(--black-100);   
    display: flex;
    margin: 6px 8px ;
    font-size: 2vh;
}

.menuint1 {
    display: flex;
    color: var(--black-300);
    margin: 15px 10px ;
    font-size: 1.3rem;
}

.menuint2 {
    display: flex;
    color: var(--black-300);
    margin: 15px -8px ;
    font-size: 1.3rem;
}

