
@media only screen and (max-width: 500px) {
    .sidebar {
      display: none;
    }   
  }

.sidebar {
    min-width: 230px;
    width: auto;
    height: auto;    
    min-height: 100vh;
    background-color: var(--powder-950);
   
    border-right: solid 2px var(--blue-500);
}

.invisible{
    display: none;
}

.usuario{
    
    height: 20vh;
    display: flex;
    align-items: center;

}

.sidebar li{
    display: flex;    
    color: var(--black-100);
    margin: 15px 20px ;
    font-size: 1rem;
}

.dash {
color: var(--blue-300);
}

.sidebar img{    
    
    width: 50px;
    height: 50px;

}

.sidebar a{
    display: flex;
}

.icon{
    position: absolute;
    left: 180px;
}


.menubar {
    color: var(--black-100);   
    margin: 6px 8px;    
    font-size: 1rem;
}


.menuint1 {
    display: flex;
    color: var(--black-300);
    margin: 15px 10px ;
    font-size: 1.3rem;
}

.menuint2 {
    display: flex;
    color: var(--black-300);
    margin: 15px -8px ;
    font-size: 1.3rem;
}

