.container {
    width: 100vw;  
    height: auto;    
    min-height: 100vh; 
    display: flex;  
}

.main{    
    width: 100vw;
    height: auto;    
    min-height: 100vh;
    background: linear-gradient(To Right, var(--blue-500), var(--purple-600));

    display: flex;
    flex-direction: column;
    
    padding: 15%;
}

.main h1{    
    font-size: 3rem;
    color: var(--white);
}
  
.main h4{        
    color: var(--white);
    margin-top: 20px;
}

.log {
    background-color: #6495ED;
}
.title {
    color: #000;
}
.inputForms {
    
    width: 250px;
    background-color: transparent;
      color: var(--blue-500);
}

.buttonCustom{
    width: 250px;
}